/* General Layout */
html {
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}
h2 {
  font-weight: 300 !important;
}
p {
  font-weight: 300;
}
.accent-text {
  color: #f57c00;
}
.contrast-background {
  background-color: #FAFAFA;
}
.btn {
  border: 1px solid #f57c00 !important;
  background-color: transparent;
  color: #f57c00;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.btn:hover {
  background-color: #f57c00;
  color: white;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container-fluid {
    padding: 4em;
  }
  .container {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  h1 { 
    font-size: 5em !important; 
  }
  h2 {
    font-size: 1.4em !important;
    font-weight: 300 !important;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container-fluid {
    padding: 4em;
  }
  .container {
    padding-left: 3em !important;
    padding-right: 3em !important;
  }
  h1 { 
    font-size: 7em !important; 
  }
  h2 {
    font-size: 1.8em !important;
    font-weight: 300 !important;
  }
}

/* Navigation */
#collapsed-navbar {
  text-align: center;
}
.navbar {
  border-bottom: 1px solid lightgray;
  background-color: white !important;
}
.active {
  color: #f57c00 !important;
}

/* First section */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #header {
    padding-top: 8em;
    padding-bottom: 6em;
  }
  #header-name {
    margin-left: -5px;
    line-height: 0.8;
  }
  .header-social-icon {
    width: 18px;
    height: 18px;
    margin-right: 0.2rem;
  }
  .header-social-item {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 0.25rem;
  }
}
