/* General Layout */
html {
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}
h1 { 
  font-size: 4em !important; 
}
h2 {
  font-size: 1.4em !important;
}
p, h2, h5, a, .thin-text {
  font-weight: 300 !important;
  font-size: 1.1em !important;
}
a {
  color: #f57c00;
}
a:hover {
  text-decoration: none;
  color: #FF9800;
}
.accent-text {
  color: #f57c00;
}
.bolded-text {
  font-weight: 500 !important;
}
.centered {
  text-align: center;
}
.contrast-background, footer {
  background-color: #FAFAFA;
}
.btn {
  border: 1px solid #f57c00 !important;
  background-color: transparent;
  color: #f57c00;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.btn:hover {
  background-color: #f57c00;
  color: white;
}
.container-fluid {
  padding: 2em;
}
.container {
  padding-top: 1em;
  padding-bottom: 1em;
}
.section-header {
  font-weight: 300 !important;
  font-size: 2em !important;
  margin-bottom: 1em; 
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container-fluid {
    padding: 4em;
  }
  .container {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  h1 { 
    font-size: 5em !important; 
  }
  .section-header {
    font-size: 3em !important;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    font-weight: 300 !important;
    font-size: 1.1em !important;
  }
  .container-fluid {
    padding: 4em;
  }
  h1 { 
    font-size: 7em !important; 
  }
  h2 {
    font-size: 1.8em !important;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container-fluid {
    padding: 6em;
  }
  h1 { 
    font-size: 8em !important; 
  }
  h2 {
    font-size: 2em !important;
  }
  .btn, .nav-item a {
    font-size: 1.2em;
  }
}

/* Navigation */
.navbar {
  border-bottom: 1px solid lightgray;
  background-color: white !important;
}
.navbar .active {
  color: #f57c00 !important;
}

/* First section */
.header-social-icon {
  width: 18px;
  height: 18px;
  margin-right: 0.2rem;
}
.header-social-item {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 0.25rem;
}
#header {
  padding-top: 6em;
  padding-bottom: 4em;
}
#header-name {
  line-height: 1;
  margin-left: -3px;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #header {
    padding-top: 8em;
    padding-bottom: 6em;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #header-name {
    margin-left: -5px;
  }
}

/* Second Section */
#overview-header {
  margin: 0;
}
#personal-image {
  max-width: 60%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.list-group-item {
  background-color: transparent;
  border: none;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #personal-image {
    max-width: 100%;
  }
  #overview-header {
    margin-bottom: 1em;
  }
}

/* Third Section */
#experience-tabs > .nav-link {
  font-weight: 400 !important;
  color: #212529;
}
#experience-tabs > .nav-link.active {
  color: white !important;
  background-color: #f57c00;
}
#experience-tabs {
  border-bottom: #f57c00 1px solid;
}
.tab-content {
  padding: 1em;
}

/* Fourth Section */
.card {
  margin: 1em;
  width: 50%;
}
.card p a {
  font-size: 1em !important;
}
.card-img-top {
  margin: 1em auto 0.5em;
  width: 60%;
}
.card-header {
  background-color: #f57c00;
  color: white;
}
.card-link-row {
  margin-top: 1em;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .project-row {
    margin: auto 3em;
  }
  .card-img-top {
    margin: 2em auto;
    max-width: 200px;
  }
}